---
layout: layouts/home.njk
eleventyNavigation:
  key: Archive
  order: 2
---
<h1>Archive</h1>
<h3>Literally every fucking post on this blog</h3>
{% set showYear = true %}
{% set postslist = collections.all %}
<ol reversed>
	{% set currentYear = "" %}
	{% for post in postslist | reverse %}
		{% if showYear %}
			{% set postYear = post.date.getFullYear() %}
			{% if currentYear != postYear %}
			{% set currentYear = postYear %}
			<h3>{{ postYear }}</h3>
			{% endif %}
		{% endif %}
			{% if post.data.layout != "layouts/home.njk" %}
			<li class=" mb-10 list-none"> 
				<a style="font-size:1.5em;font-weight:bold;" href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a><br><span style="font-size:regular;font-weight:regular !important;">{% if post.data.tags.length > 1 %}Tagged {{post.data.tags | string | replace(",", ", ")}} - {% endif %}Posted {{post.date | postDate}}</span>
			</li>
			{% endif %}
	{% endfor %}
</ol>