---
layout: layouts/home.njk
---
<page id="blog"></page>
<section class="card-container">
        {% set postslist = collections.posts %}
        {% include "postslist.njk" %}
        <div class="card panel  animate__animated animate__zoomInLeft">
          <img src="../faux.png" style="max-width: 100%">
          <h1>Nova</h1>
          A web-dev pushing the modern front-end web to it's limits.<br /><br />
          <div class="social-container">
            <a
              href="https://youtube.com/@novafurry"
              
              title="YouTube"
            >
              <i class="fab fa-youtube"></i>
            </a>
            <a
              href="https://github.com/novafurry"
              
              title="GitHub"
            >
              <i class="fab fa-github"></i>
            </a>
            <a
              href="https://twitter.com/@_novafurry"
              
              title="Twitter"
            >
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://bark.lgbt/@nova"  title="Mastodon">
              <i class="fab fa-mastodon"></i>
            </a>
            <a
              href="https://tiktok.com/@nova.furry"
              
              title="TikTok"
            >
              <i class="fab fa-tiktok"></i>
            </a>
          </div>
        </div>
      </div>
        <spaceBelow class="card nobg"></spaceBelow>
      </section>
