---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest Posts</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
<ol reversed>
	{% set currentYear = "" %}
	{% for post in postslist | reverse %}
		{% if showYear %}
			{% set postYear = post.date.getFullYear() %}
			{% if currentYear != postYear %}
			{% set currentYear = postYear %}
			<h3>{{ postYear }}</h3>
			{% endif %}
		{% endif %}
			{% if post.data.layout != "layouts/home.njk" %}
			<li class=" mb-10 list-none">
				<a style="font-size:1.5em;font-weight:bold;" href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a><br><span style="font-size:regular;font-weight:regular !important;">{% if post.data.tags.length > 1 %}Tagged {{post.data.tags | string | replace("project,", "") | replace(",", ", ")}} - {% endif %}Posted {{post.date | postDate}}</span>
			</li>
			{% endif %}
	{% endfor %}
</ol>

{% set postsCount = collections.project | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest Projects</h1>

{% set postslist = collections.project | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
<ol reversed>
	{% set currentYear = "" %}
	{% for post in postslist | reverse %}
		{% if showYear %}
			{% set postYear = post.date.getFullYear() %}
			{% if currentYear != postYear %}
			{% set currentYear = postYear %}
			<h3>{{ postYear }}</h3>
			{% endif %}
		{% endif %}
			{% if post.data.layout != "layouts/home.njk" %}
			<li class=" mb-10 list-none">
				<a style="font-size:1.5em;font-weight:bold;" href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a><br><span style="font-size:regular;font-weight:regular !important;">{% if post.data.tags.length > 1 %}Tagged {{post.data.tags | string | replace("project,", "") | replace(",", ", ")}} - {% endif %}Posted {{post.date | postDate}}</span>
			</li>
			{% endif %}
	{% endfor %}
</ol>