---
layout: layouts/home.njk
---
<page id="home"></page>
<section class="card-container">
  <div class="card mainc animate__animated animate__zoomInLeft">
    <div style="float: left; width: 80%">
      <h1>Hey!</h1>
      I’m Nova. I’m a frontend dev who enjoys pushing the modern web to
      the limit.<br /><br />
      <div class="pill" location="https://github.com/novafurry">gitHub</div>
      <div class="pill" location="https://youtube.com/@novafurry">youTube</div>
      <div class="pill" onclick="more()">more ></div>
    </div>
    <img
      style="width: 20%; float: right"
      src="faux.png"
      alt=""
    />
  </div>
  <div class="card expCard  animate__animated animate__zoomInRight">
    <h2>My Experience</h2>
    <span class="transpill"
      ><img height="14pt" src="productLogos/git.svg" alt="" /> Git</span
    >,
    <span class="transpill"
      ><img height="14pt" src="productLogos/jq.svg" alt="" /> jQuery</span
    >,
    <span class="transpill"
      ><img height="14pt" src="productLogos/linux.svg" alt="" />
      Linux</span
    >,
    <span class="transpill"
      ><img height="14pt" src="productLogos/vb.svg" alt="" /> Visual
      Basic</span
    >,
    <span class="transpill"
      ><img height="14pt" src="productLogos/figma.svg" alt="" />
      Figma,</span
    >
    <span class="transpill"
      ><img height="14pt" src="productLogos/js.svg" alt="" />
      JavaScript</span
    >
  </div>
  <div class="card animate__animated animate__zoomInUp">
    <h2>Current Projects</h2>
    <ul style="padding-left: 25px">
      <li>novaOS, a web based operating “ecosystem”</li>
      <li>AppDash, a tiling dashboard for web apps</li>
    </ul>
  </div>
  <div class="card social animate__animated animate__zoomInDown">
    <h2>Socials</h2>
    <div class="social-container">
      <a href="https://fursona.directory/@nova" title="FursonaDirectory, basically linktree">
        <i class="fa-solid fa-paw"></i>
      </a>  
      <a
        href="https://youtube.com/@novafurry"
        
        title="YouTube"
      >
        <i class="fab fa-youtube"></i>
      </a>
      <a
        href="https://github.com/novafurry"
        
        title="GitHub"
      >
        <i class="fab fa-github"></i>
      </a>
      <a
        href="https://twitter.com/@_novafurry"
        
        title="Twitter"
      >
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://bark.lgbt/@nova"  title="Mastodon">
        <i class="fab fa-mastodon"></i>
      </a>
      <a
        href="https://tiktok.com/@nova.furry"
        
        title="TikTok"
      >
        <i class="fab fa-tiktok"></i>
      </a>
    </div>
  </div>
</section>