---
layout: layouts/home.njk
eleventyNavigation:
  key: Old Posts
  order: 3
---
<h1>Old Posts</h1>
<h2>Posts from my old blogs</h2>
{% set postslist = collections.old %}
{% include "postslistnormalized.njk" %}
