<div class="card nobg">
{% for post in postslist | reverse %}
	<div location="{{ post.url }}" class="card animate__animated animate__zoomInRight bpost">
		<h2>{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h2>
		<small><i>{{ post.date | readableDate("LLLL yyyy") }} &middot; 2 Minutes &middot; Category Example</i></small>
	</div>
	<br>
{% endfor %}
</div>
