<ol reversed>
	{% set currentYear = "" %}
	{% for post in postslist | reverse %}
		{% if showYear %}
			{% set postYear = post.date.getFullYear() %}
			{% if currentYear != postYear %}
			{% set currentYear = postYear %}
			<h3>{{ postYear }}</h3>
			{% endif %}
		{% endif %}
			{% if post.data.layout != "layouts/home.njk" %}
			<li class=" mb-10 list-none">
				<a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a> <small>{{post.date | postDate}}</small>
			</li>
			{% endif %}
	{% endfor %}
</ol>
