	{% set currentYear = "" %}
	{% for post in postslist | reverse %}
		{% if showYear %}
			{% set postYear = post.date.getFullYear() %}
			{% if currentYear != postYear %}
			{% set currentYear = postYear %}
			<h3>{{ postYear }}</h3>
			{% endif %}
		{% endif %}
			{% if post.data.layout != "layouts/home.njk" %}
			<div class=" mb-10 list-none" style="width:199px">
				<b><a style="text-align:left;display: -webkit-box;-webkit-line-clamp: 2;line-clamp: 2; -webkit-box-orient: vertical;overflow:hidden;" href="{{ post.url | url }}">
					<img src="/videoCover/{{ post.data.videoCoverURL }}" width=199 height=100><br>
					{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
				</a></b>
				<i><span style="text-align:justify; width:100%;display:inline-block;">{{ post.date | readableDate("dd-LL-yyyy") }} • {{post.data.videoLen}}</span></i>
			</div>
			{% endif %}
	{% endfor %}
<style>
.mb-10.list-none {
    display:inline-block;
}
</style>
