/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 100 1000;
  font-display: swap;
  src: url(font.woff2 ) format('woff2');
}
*:not(.blob){
    transition: all 0.25s ease-in-out;
}
.blob{
    transition: all 0.25s ease-in-out;
}
*:not(.fab, .fa-solid){
    font-family: "DM Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  body{
    min-width:100vw;
    min-height:100vh;
    margin:0px;
    background-color:#111111;
    color:#999999;
    overflow-x:hidden;
  }

  .blob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vw;
    color: #fff;
    border-radius: 100%;
    background-image: linear-gradient(#1100ff 10%, #ff00f2);
    filter: blur(250px);
    transition: all 450ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    }

header {
    text-align: center;
    padding: 1rem;
    background-color: #292c3c; /* Slightly darker for header */
}

h1 {
    margin: 0;
    font-size: 2rem;
}

.card-container {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    gap: 1rem;
    padding: 1rem;
    width: calc(70vw + 0px);
    margin-left:calc(15vw - 10px);
    margin-right:15vw;

}


html, body{
  overflow: hidden;
}
main{
  max-height: calc(100vh - 80px);
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top:0px;
  padding-top:80px !important;
  z-index:1;
  
}
spaceBelow::before{
  display: none !important;
  background: transparent !important;
}
spaceBelow {
  height:20px !important;
  min-height:40px !important;
  grid-area: spacebottom;
}

.card.nobg{
  background-color: transparent;
  backdrop-filter: none;
  padding:0px;
  box-shadow: none;
}
@media (max-width:900px){
    .card-container{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
    }
}
@media (max-width: 700px){
  body:has(page#post) main section.card-container{
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    grid-template-areas:
    "panel"
    "post"
  }
  body:has(page#post) main section.card-container .nobg{
    max-height: 55vh;
    overflow-x:hidden;
  }
  body:has(page#post) main section.card-container .nobg *{
    max-width: 90vw;
    overflow-x: hidden;
    text-wrap:wrap;
  }
  body:has(page#blog)main section.card-container{
    grid-template-areas:
    "posts" 
    "panel" !important;
  }
  html main section.card-container{
    grid-template-columns: 100% !important;
    width:calc(100vw - 55px) !important;
    margin-left:10px !important;
    margin-right:10px !important;
  }
  .panel{
    margin-top: 20px;
  }
  nav{
    width: calc(100vw - 10px) !important;
    margin-left:0px !important;
    top:0px !important;
  }
  html body main section div.card{
    height: fit-content !important;
    /* min-height: 150px; */
  }

}

.card {
    background-color: #414559; /* Card background */
    border-radius: 8px;
    padding: 20px;
    backdrop-filter: blur(20px);
    background: rgba(81, 81, 81, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:not(spaceBelow, .nobg)::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    border: 2px solid transparent;
    z-index: -1;
    background: linear-gradient(4deg,rgba(119,119,119, 0.47), #999999, #515151, #333333) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

h2 {
    margin-top: 0;
}
@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }

    .card {
        padding: 5px;
    }
}




.navbg{
  z-index: 6;
    width:70vw;
    position:sticky;
    margin-left:15vw;
    margin-right:15vw;
    top:0px !important;
    margin-top:-20px;
    height: 10px;
    padding:10px;
  backdrop-filter: blur(10px);
}
nav{
    z-index: 7;
    width:70vw;
    padding:10px;
    position:sticky;
    margin-left:15vw;
    margin-right:15vw;
    top:10px;
    padding:2px;
    /*background-image:linear-gradient(4deg,rgba(119,119,119, 0.47), #999999, #515151, #333333);*/
    border-radius:126px;
    background: transparent;
    border: 5px solid transparent;
    overflow: hidden;
    backdrop-filter: blur(10px);
  }
.nav-title{
    margin-right:5px;
}
nav::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 126px;
    border: 2px solid transparent;
    z-index: -1;
    background: linear-gradient(4deg,rgba(119,119,119, 0.47), #999999, #515151, #333333) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
  
  .navInnerFill{
    border-radius:126px;
    background:rgba(51,51,51,0.2);
    padding:15px !important;
    padding-top:8px;
    padding-bottom:8px;
    
  }
  
  .nav-links{
    display:inline;
    padding-inline-start:0px;
    position: absolute;
    right:10px;
    top:-8px;
  }
  .nav-link{
    display:inline-block;
    padding:8px;
    padding-left:14px;
    padding-right:14px;
    border-radius:126px;
  }

  .pill{
    display:inline-block;
    padding:2px;
    padding-left:8px;
    padding-right:8px;
    border-radius:126px;
    background:rgba(153, 153, 153, 0.9);
    color: #111111;
    text-align: justify;
  }
  .pill:hover{
    background:rgba(120, 120, 120, 0.3);
    color:#999999;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .transpill{
    display: inline-block;
  }
.mainc .pill{
    bottom:0px;
}        .social-container a {
    color: #D8DEE9; /* Light color for icons */
    font-size: 24px;
    text-decoration: none;
}
.social-container a:hover {
    color: #88C0D0; /* Highlight color on hover */
}

.social-container a {
    color: #D8DEE9; /* Light color for icons */
    font-size: 24px;
    text-decoration: none;
}
.social-container a:hover {
    color: #88C0D0; /* Highlight color on hover */
}
.social-container {
    display: flex;
    gap: 15px;
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.expCard .transpill{
    font-size: 20pt;
}
.expCard .transpill img{
    height: 20pt;
}
body:has(page#blog){
  .card-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr min-content;
    gap: 1rem;
    padding: 1rem;
    width: calc(70vw - 28px);
    margin-left:calc(15vw + 5px);
    margin-right:15vw;
    grid-template-areas:
    "panel posts"
    "panel posts"
  }
  .nav-link#blog{
    background:rgba(153, 153, 153, 0.9);
    color: #111111;
  }
  .nav-link:not(#blog){
    background: rgba(51, 51, 51,0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .nav-link:not(#blog):hover{
    background: rgba(81, 81, 81, 0.3);
    box-shadow: 0px 4px 4px rgba(25, 25, 25, 0.50);
  }
  .nav-link#blog:hover{
    background:rgba(120, 120, 120, 0.3);
    color:#999999;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: 3px solid rgba(153, 153, 153, 0.9);

  }
  .nav-links:has(.nav-link:not(#blog):hover) > .nav-link#blog:not(:hover){
    background-color: rgba(86, 86, 86,0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color:#999999;
    outline: 2.5px solid rgba(153, 153, 153, 0.9);
    /* box-sizing: border-box; */
  }
}
body:has(page#home){
  .nav-link#home{
    background:rgba(153, 153, 153, 0.9);
    color: #111111;
  }
  .nav-link:not(#home){
    background: rgba(51, 51, 51,0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .nav-link:not(#home):hover{
    background: rgba(81, 81, 81, 0.3);
    box-shadow: 0px 4px 4px rgba(25, 25, 25, 0.50);
  }
  .nav-link#home:hover{
    background:rgba(120, 120, 120, 0.3);
    color:#999999;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: 3px solid rgba(153, 153, 153, 0.9);
  
  }
  .nav-links:has(.nav-link:not(#home):hover) > .nav-link#home:not(:hover){
    background-color: rgba(86, 86, 86,0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color:#999999;
    outline: 2.5px solid rgba(153, 153, 153, 0.9);
    /* box-sizing: border-box; */
  }
}
body:has(page#post:not(page.about)){
  .nav-link#blog{
    background:rgba(153, 153, 153, 0.9);
    color: #111111;
  }
  .nav-link:not(#blog){
    background: rgba(51, 51, 51,0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .nav-link:not(#blog):hover{
    background: rgba(81, 81, 81, 0.3);
    box-shadow: 0px 4px 4px rgba(25, 25, 25, 0.50);
  }
  .nav-link#blog:hover{
    background:rgba(120, 120, 120, 0.3);
    color:#999999;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: 3px solid rgba(153, 153, 153, 0.9);

  }
  .nav-links:has(.nav-link:not(#blog):hover) > .nav-link#blog:not(:hover){
    background-color: rgba(86, 86, 86,0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color:#999999;
    outline: 2.5px solid rgba(153, 153, 153, 0.9);
    /* box-sizing: border-box; */
  }
}
body:has(page#post){
  .card-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr min-content;
    gap: 1rem;
    padding: 1rem;
    width: calc(70vw - 28px);
    margin-left:calc(15vw + 5px);
    margin-right:15vw;
    grid-template-areas:
    "panel post"
    "panel post"
  }
  .nobg{
    grid-area: post !important;
  }
}
*:has(page#blog), *:has(page#post){
  main{
    overflow-y: hidden;
  }
  main, .card-container{
    /* padding-bottom:40px; */
    max-height: calc(100vh - 80px);
  }
  .card-container > *{
    /* margin-bottom:40px; */
  }
  .card-container > div:not(.panel, .slimpanel){
    grid-area: posts;
    overflow-y: auto;
  }
  .slimpanel{
    grid-area: panel;
  }
  .panel{
    /* margin-bottom: 40px; */

  }
}
footer{
  position: absolute;
  bottom: 20px;
  right: 20px;
  color:#FFF;
}
a, a:visited{
  color: white !important;
}
*:has(page.about){
  .nav-link#about{
    background:rgba(153, 153, 153, 0.9);
    color: #111111;
  }
  .nav-link:not(#about){
    background: rgba(51, 51, 51,0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .nav-link:not(#about):hover{
    background: rgba(81, 81, 81, 0.3);
    box-shadow: 0px 4px 4px rgba(25, 25, 25, 0.50);
  }
  .nav-link#about:hover{
    background:rgba(120, 120, 120, 0.3);
    color:#999999;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: 3px solid rgba(153, 153, 153, 0.9);

  }
  .nav-links:has(.nav-link:not(#about):hover) > .nav-link#about:not(:hover){
    background-color: rgba(86, 86, 86,0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color:#999999;
    outline: 2.5px solid rgba(153, 153, 153, 0.9);
    /* box-sizing: border-box; */
  }
}