<!DOCTYPE html>
<html lang="{{ metadata.language }}">
	<head>
		<style>
			html {
				background-color: #111111;
			}
		</style>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title or metadata.title }}</title>
		<meta
			name="description"
			content="{{ description or metadata.description }}"
		/>

		{#- Atom and JSON feeds included by default #}
		<link
			rel="alternate"
			href="/feed/feed.xml"
			type="application/atom+xml"
			title="{{ metadata.title }}"
		/>
		<link
			rel="alternate"
			href="/feed/feed.json"
			type="application/json"
			title="{{ metadata.title }}"
		/>

		<meta name="generator" content="{{ eleventy.generator }}" />
		<link rel="stylesheet" href="/styles.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
			rel="stylesheet"
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	</head>
	<body>
		<nav class="animate__animated animate__zoomInRight">
			<div class="navInnerFill">
				<span class="nav-title"> Nova's Site </span>
				<ul class="nav-links">
					<li class="nav-link" id="home" location="/">Home</li>
					<li class="nav-link" id="blog" location="/blog/">Blog</li>
					<li class="nav-link" id="about" location="/about/">About</li>
				</ul>
			</div>
		</nav>
		<topGradient></topGradient>
		<main>{{ content | safe }}</main>
		<div class="blob"></div>
		<script src="/script.js"></script>
		<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
	</body>
</html>
