---
layout: layouts/base.njk
---
<!-- Messagebox
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	<b>Message Title</b><br>
	<p>Message Content</p>
</div> -->

{{ content }}
