---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1>{{ title }}</h1>

<ul class="post-metadata">
	<li>Uploaded {{ page.date | readableDate }} • Uploaded to: {{channel}} • {{ videoLen }} • <a href="http://youtu.be/{{videoID}}">Watch on YouTube</a></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>
<iframe width="560" style="width:100%" height="315" src="https://www.youtube.com/embed/{{ videoID }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<div style="background:rgba(0,0,0,0.5); width:100%; padding:10px; text-wrap:wrap;max-width:100%;overflow:auto;">
    <b>Original Video Description</b><br>
	{{ogDesc | safe}}
</div>
{{ content | safe }}

<small>COMMENTS: <u>Blog</u> • <a href="http://youtu.be/{{ videoID }}" target="_blank">Switch to YouTube</a></small>
<script src="https://utteranc.es/client.js"
        repo="novafurry/novas-blog"
        issue-term="pathname"
        label="Utterances Comments"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
</script>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
